

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.scoreboard {width: 60px;}
#left-scoreboard {float:left;}
#right-scoreboard {float: left;}
canvas {float"left";}















